h1 {
	color: #000;
}

h4 {
	color: #808080;
	font-weight: 200;
}
.category {
	font-size: 1.1em;
	color: #000;
	text-transform: uppercase;
}

h3 {
	text-transform: uppercase;
	text-weight: lighter;
}


