/*#footer {
	background-color: #2B5061;
	padding-bottom: 20px;
}*/

#footer-element {
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #2B5061;
}

p {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	color: #fff;
}

h2 {
	color: #D6401C
}

a {
	text-decoration: none;
	color: #fff;
}
