

/*.navbar {
	background: none;
} */

.navbar-default .navbar-brand {
	font-family: 'Muli', sans-serif;
	font-variant: small-caps;
  	font-size: 2em;
	color: #808080;
}

.navbar a {
	font-family: 'Muli', sans-serif;
	font-variant: small-caps;
}
