@font-face {
  font-family: biko;
  src: url(../Content/BikoFont/Biko_Regular.otf);
}

/*.navbar {
	background: none;
} */

.navbar-default .navbar-brand {
	font-family: biko;
	font-variant: small-caps;
  font-size: 2em;
	color: #000;
}
