.navbar {
	background-color: #F1F1F1;
	padding-top: 10px;
	padding-bottom: 10px;
}

.navbar-default .navbar-brand {
	font-family: 'Roboto', sans-serif;
	font-variant: small-caps;
  	font-size: 3em;
  	font-weight: 500; 
	color: #2B5061;
}
 
.navbar li a {
	font-family: 'Roboto', sans-serif;
	font-variant: small-caps;
	font-weight: normal;
}

ul.nav a:hover,
ul.nav a:focus { 
	border: none !important;
	color: #D6401C !important; 
}