<div class= "container">
  <div class="row">
    <h1>About Me</h1>
  </div>
  <div class = "col col-md-8 col-md-offset-2">
    <div class="row">
      <h3>Get to know me professionally</h3>
      <span class="about-text">I went to Vanderbilt and double majored in psychology and computer science. I grew up in a rural community and didn't know much about the job market, but I knew I cared about solving complex problems for people, so I chose these two majors hoping to someday combine them. After I graduated, I worked at as a program manager and a developer. Then I found Human-Computer Interaction and knew that's what I wanted to study. So, I went to CMU to pursue my Masters in HCI. </span>
      <br/><br/>
      <span class="about-text">My passion is to figure out complicated systems and understand how to make them simple for users. I also enjoy learning about people's motivations for what they do; I think that's key to knowing what to design for them and also for working harmoniously with others. Having studied computer science, psychology, and now HCI, I have a wide range of knowledge that helps me to work well in diverse teams.</span>
    </div>
    <div class="row">
      <h3>Get to know me personally</h3>
      <span class="about-text">I am originally from a small town in south Georgia called Vidalia. It is home to the famous Vidalia sweet onion. In high school I played softball, tennis, and did competitive cheerleading. I moved to Nashville for college and lived there for a few years after graduation. I was a cheerleader at Vanderbilt cheering for men's and women's basketball and football. I love sports, especially SEC football and Atlanta Braves baseball! I also really like dogs, sweet tea, diet coke, and outdoor activities. </span>
    </div>
  </div>
</div>
