
<div class="jumbotron">
  <div class="container">
    <ul class="media-list">
      <li class="media">
        <a class="media-left" href="#">
            <img src="http://az679163.vo.msecnd.net/public/social-media-logos.png" alt="Your Breaking content is valuable" style="height:150px; width: 150px">
        </a>
        <div class="media-body">
          
          <h4 class="media-heading">About</h4>
          Bacon ipsum dolor amet andouille brisket kielbasa cupim, prosciutto short loin filet mignon fatback ham shoulder rump ground round turducken shankle. Turducken jowl spare ribs hamburger chuck, ham rump meatball t-bone strip steak tail meatloaf. Pork loin sausage venison turducken strip steak. Jowl tri-tip short ribs pastrami t-bone pork belly pork loin doner salami ribeye shankle.
        
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="container">
<h3>Skills:</h3>

<div class="well">
  C#:
  <div class="progress progress-striped active">
    <div class="progress-bar" style="width: 85%"></div>
  </div>
  Java:
  <div class="progress progress-striped active">
    <div class="progress-bar" style="width: 100%"></div>
  </div>
  HTML 5:
  <div class="progress progress-striped active">
    <div class="progress-bar" style="width: 80%"></div>
  </div>
  Javascript:
  <div class="progress progress-striped active">
    <div class="progress-bar progress-bar-danger" style="width: 20%"></div>
  </div>
  Android:
  <div class="progress progress-striped active">
    <div class="progress-bar" style="width: 90%"></div>
  </div>
   iPhone:
  <div class="progress progress-striped active">
    <div class="progress-bar" style="width: 70%"></div>
  </div>
</div>
</div>