<!doctype html>
<html>﻿
	<link href="../Content/projectPage.css" rel="stylesheet" />
	<!--<link href="../Content/accelerate.css" rel="stylesheet" />-->
	<link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>

	<!--Header-->
	<div class="container">
		<div class="headline">
			<div class="row">
				<div class="col col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2">
					<h1 class="headline">Accelerate</h1>
					<h4 class="headline">iOS Application Design</h4>
					<p class="headline">October 2014 - December 2014</p>
				</div>
			</div>		
		</div>
		<hr/>

		<!--Meta data -->
		<div class="row">
			<div class="col col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2">
				<p>Emergency medical service employees have uniquely stressful jobs and do not have sufficient encouragement to learn life skills or additional job skills. For our Interaction Design Fundamentals class at CMU, we decided to design a mobile application that provides relevant facts about topics such as mental health, nutrition, and driving skills. Leaders can set up friendly competitions about the facts for members of the squad. This promotes team bonding and provides visibility of hard work to management.</p>
			</div>
		</div>
		<div class="row">
			<div class="col col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2">
				<img src="../images/Accelerate/Accelerate_icon_long.png" class="img-responsive" alt="Responsive image">
			</div>
		</div>	<!--End icon image-->

		<div class="row meta-data">
			<div class="meta-data-point col col-xs-12 col-sm-3 col-md-3 col-lg-2 col-lg-offset-2">
				<h4 class="meta-header">Process</h4>
				<ul>
					<li>Research</li>
					<li>Brainstorming</li>
					<li>Flow Map</li>
					<li>Wireframing</li>
					<li>Hi-fidelity Design</li>
				</ul>	
			</div>
			<div class="meta-data-point col col-xs-12 col-sm-3 col-md-3 col-lg-2">
				<h4 class="meta-header">Contributions</h4>
				<ul>
					<li>User Research</li>
					<li>Flow Map</li>
					<li>Wireframes</li>
				</ul>	
			</div>
			<div class="meta-data-point col col-xs-12 col-sm-3 col-md-3 col-lg-2">
				<h4 class="meta-header">Team</h4>
				<ul>
					<li>Jay Lui</li>
					<li>Nicole Navolio</li>
					<li>Leticia Patricio</li>
				</ul>	
			</div>
			<div class="meta-data-point col col-xs-12 col-sm-3 col-md-3 col-lg-2">
				<h4 class="meta-header">Deliverables</h4>
				<ul>
					<li><a href="../images/Accelerate/Accelerate-Final-Designs.png" target="_blank">Final Designs</a></li>
					<li><a href="../images/Accelerate/Design-Specs.pdf" target="_blank">Design Specifications</a></li>
					<li><a href="../images/Accelerate/Final-Presentation.pdf" target="_blank">Presentation</a></li>
				</ul>	
			</div>
		</div>	<!--End meta-data section-->

		<!--final idea-->
		<div class="row">
			<div class="col col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2">
				<h3 class="phase-header">Application Designs</h3>
			</div>
		</div>
		<div class="row">
			<div class = "col col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2">
				<img id="FinalDesigns" src="../images/Accelerate/Accelerate-Final-Designs.png" class="img-responsive" alt="Responsive image">
				<p class="caption">We designed eight total screens for our final design.</p>
			</div>
		</div> <!-- end final idea -->


		<!--Research -->
		<div class="row">
			<div class="col col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2">
				<h3 class="phase-header">Research</h3>
				<p>We began by understanding the life and work circumstances for a
					professional in the emergency medical services field. Our team researched
					internet blogs, articles, and ride along videos of EMTs on the job.
					Additionally, we conducted an interview with an EMT to further explore
					the themes we saw in our initial research.</p>	
			</div>
		</div>
		<div class="row">
			<div class="col col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2">
				<blockquote>
					<p>“Myself and many of my co-workers have sought grief counseling, nutrition assistance, and some have even been placed on heavy sleep medications because they never had [targeted information] available to them in a more private medium.”</p>
					<small>EMT</small>
				</blockquote>
			</div>	
		</div>
		<div class="key-findings">
			<div class="row">
				<div class="col col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2">
					<img src="../images/Accelerate/key-findings.png" class="img-responsive" alt="Responsive image">
				</div>
			</div>
		</div>	<!-- end Research -->

		<!-- Brainstorming -->
		<div class="row">
			<div class="col col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2">
				<h3 class="phase-header">Brainstorming</h3>
			</div>
		</div>
		<div class="row">
			<div class="col col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2">
				<p>After doing research, we started determining what mobile application solution would meet the needs of emergency medical service professionals. We generated fifty unique application concepts and mapped them on an affinity diagram. Then we used those sorted groups of concepts onto a feasibility-impact matrix. We used these and the personas we were provided to create narratives of the most promising ideas. We received feedback from our classmates and also from an EMT on our concepts.</p>
			</div>
		</div>
		<div class="row">
			<div class="col col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2">
				<img src="../images/Accelerate/Impact-feasibility.png" class="img-responsive" alt="Responsive image">
				<p class="caption">We worked as a team talking through our design ideas to determine the impact and feasibility of each idea.</p>
			</div>
		</div> <!-- end Brainstorming -->

		<!-- Flow Map -->
		<div class="row">
			<div class="col col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2">
				<h3 class="phase-header">Flow Map</h3>
			</div>
		</div>
		<div class="row">
			<div class = "col col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2">
				<p>We expounded upon our idea using a flow map. We updated it as we added to our concept and as we created higher fidelity designs. By referencing it throughout the process, we were able to keep an appropriate breadth and depth for the application. We also used it as a check to keep the functionality of the application appropriately simple.</p>
			</div>
		</div>
		<div class="row">
			<div class = "col col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2">
				<img src="../images/Accelerate/flow-map.png" class="img-responsive" alt="Responsive image">
				<p class="caption">At each stage of the design process, we updated our flow map with the most relevant screens</p>
			</div>
		</div> <!-- end Flow Map -->

		<!-- Wireframing -->
		<div class="row">
			<div class="col col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2">
				<h3 class="phase-header">Wireframing</h3>
			</div>
		</div>
		<div class="row">
			<div class = "col col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2">
				<p>As we went through the design process, we made increasingly more detailed designs. We began with sketches, then created low-fidelity mockups, and finally interated to make high-fidelity mockups. To create mockups, we used Adobe Illustrator. We went through multiple iterations of high-fidelity mock-ups trying to get the right color palette and feel for our application. We decided that we wanted a  playful and light-hearted theme. We wanted to give them an application that was enjoyable to use and would help to alleviate some of their stress.</p>
			</div>
		</div>
		<div class="row">
			<div class = "col col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2">
				<img src="../images/Accelerate/LowFiMockUps_white.png" class="img-responsive" alt="Responsive image">
				<p class="caption">Low-fidelity digital sketches of our application.</p>
			</div>
		</div> <!-- end wireframing -->

		<!-- Hi-fidelity Design -->
		<div class="row">
			<div class="col col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2">
				<h3 class="phase-header">Final Deliverables</h3>
				<p>The final deliverables for this project were completed designs, design pecifications, and a final presentation to the class. As part of the presentation, we also included a <a href="https://projects.invisionapp.com/share/3G1SPWQKJ#/screens" target="_blank">demo</a> created with invision. The final designs included a fun, playful color scheme and an owl character to provide consistency and whimsy throughout.</p>
			</div>
		</div> <!-- end hi-fidelity design -->

	</div>	<!-- end container -->
</html>
