<!doctype html>
<html>﻿
	<link href="../Content/projectPage.css" rel="stylesheet" />

	<!--Header-->
	<div class="container">
		<h1>Accelerate</h1>
		<h4>A project to design a mobile training application for emergency medical personnel</h4>
		<hr/>

		<!--Meta data -->
		<div class="row">
			<div class="col col-md-6 col-lg-6 col-sm-6 col-xl-6 col-xs-12">
				<div class="thumbnail">
		        <img src="../images/Accelerate/Accelerate_icon2.png" >
				</div>
			</div>
			<div class="col col-md-6">
				<!--<span class="category">Project Type:</span><br/> Design
				<br/><br/>-->
				<span class="category">Contributions:</span> <br/> Affinity Diagrams,
				Narratives, Navigation Maps, Wireframes, Low-Fidelity Mockups, High-Fidelity Mockups
				<br/><br/>
				<span class="category">Team Members:</span> <br/> Jay Lui, Nicole Navolio, Leticia Patricio
				<br/><br/>
				<span class="category">Duration:</span> <br/> October 2014 - December 2014
				<br/><br/>
				<span class="category">Class:</span> <br/> Interaction Design Fundamentals, CMU
			</div>
		</div>
		<hr/>

		<!--About Project -->
		<div class="row process">
			<div class="col col-md-12">
				<h3>Description</h3>
			</div>
		</div>
		<div class="row">
			<div class="col col-md-12">
				<p>Emergency medical service employees have uniquely stressful jobs and do not
				have sufficient encouragement to learn life skills or additional job
				skills. For our Interaction Design Fundamentals class at CMU, we decided to
				design a mobile application that provides relevant facts about topics such
				as mental health, nutrition, and driving skills. Leaders can set up friendly
				competitions about the facts for members of the squad. This promotes team
				bonding and provides visibility of hard work to management.</p>


				<!--<p><span class="category">Assignment:</span> Conceive of an original mobile application that provides tools and/or information to an ambulance driver accessing the application while on the job.
				<br/><br/>
				<span class="category">Opportunity:</span> EMS workers have a uniquely stressful job and do not have much encouragement to learn life skills or additional job skills. However, they have downtime that can be used more effectively.
				<br/><br/>
				<span class="category">Solution:</span> An application that provides facts about topics such as mental health, nutrition, and driving skills. Leaders can set up friendly competitions about the facts for members of the squad. This promotes team bonding and provides visibility of hard work to management.</p>-->
			</div>
		</div>


		<!--Process Header -->
		<div class="row process">
			<div class="col col-md-12">
				<h3>Process</h3>
			</div>
		</div>

		<!--Research -->
		<div class="row">
			<div class="col col-md-12">
				<h4>Research</h4>
				<p>We began by understanding the life and work circumstances for a
					professional in the emergency medical services field. Our team researched
					internet blogs, articles, and ride along videos of EMTs on the job.
					Additionally, we conducted an interview with an EMT to further explore
					the themes we saw in our initial research.</p>
				<!--<p>We started this project by researching the experience and needs of emergency medical staff. We read through internet blogs and articles, watched ambulance ride along videos, and interviewed an EMT to get an understanding of the life and work circumstances for a professional in the emergency medical services field.-->
		    	<blockquote>
					<p>“Myself and many of my co-workers have sought grief counseling, nutrition assistance, and some have even been placed on heavy sleep medications because they never had [targeted information] available to them in a more private medium.”</p>
					<small>EMT</small>
				</blockquote>
			</div>
		</div>

		<!--Idea Generation -->
		<div class="row">
			<div class="col col-md-12">
				<h4>Idea Generation</h4>
				<!--<p>We generated concept ideas for apps and created an affinity diagram. The process of creating the affinity diagram allowed us to talk about the ideas as a team, and we later used the affinity diagram to to see ideas that we could combine into cohesive, larger concepts. After that, we sorted them into a feasibility-impact matrix showing the potential usefulness of the application against the difficulty of creating it. Personas were provided for us, and we used these to determine which ideas to pursue. We picked our top four choices and composed narratives about their use based on our personas. We used these narratives to make the selection for our final idea. We also followed up with the EMT we interviewed initially, asking additional questions to make sure our idea was useful and desirable.</p>-->
			</div>
		</div>
		<div class="row">
			<div class="col col-md-12">
				<p>After doing research, we started determining what mobile application
				solution would meet the needs of emergency medical service professionals.
				We generated fifty unique application concepts and mapped them on an
				affinity diagram. Then we used those sorted groups of concepts onto a
				feasibility-impact matrix. We used these and the personas we were provided
				to create narratives of the most promising ideas. We received feedback
				from our classmates and also from an EMT on our concepts.</p>
			</div>
		</div>
		<div class="row">
			<div class = "col col-md-6 col-md-offset-3">
				<div class="thumbnail">
					<img src="../images/Accelerate/ImpactFeasibilityWithPeople.png" class="img-responsive" >
						<div class="caption">
							We worked as a team talking through our design ideas to determine the impact and feasibility of each idea.
						</div>
				</div>
			</div>
		</div>

				<!--<br/>
				<div class="row">
					<div class="col col-md-3">

						<img src="../images/Accelerate/AffinityDiagram.jpg" class="img-responsive" >
						<div class="caption_text">
						We generated 50 design ideas then came together as a team to discuss them and create an affinity diagram that showed larger potential concepts.
						</div>
					</div>
					<div class="col col-md-6">
						<img src="../images/Accelerate/ImpactFeasibilityWithPeople.jpg" class="img-responsive" >
						<div class="caption_text">
						We worked as a team talking through our design ideas to determine the impact and feasibility of each idea.
						</div>
					</div>
					<div class="col col-md-3">
						<img src="../images/Accelerate/ImpactFeasibilityMatrix.jpg" class="img-responsive" >
						<div class="caption_text">
						Our final impact-feasibility matrix, along with our personas and larger concepts from our affinity diagram, was used to narrow down the ideas worth pursuing further.
						</div>
					</div>
				</div>
			</div>
		</div>-->

		<!-- Application Design -->
		<div class="row">
			<div class="col col-md-12">
				<h4>Application Design</h4>
			</div>
		</div>
		<div class="row">
			<div class = "col col-md-12">
				<p>We expounded upon our idea using a navigation map. We updated it as we
				added to our concept and as we created higher fidelity designs. By referencing
				it throughout the process, we were able to keep an appropriate breadth and
				depth for the application. We also used it as a check to keep the functionality
				of the application appropriately simple.</p>
			</div>
		</div>
		<div class="row">
			<div class = "col col-md-6 col-md-offset-3">
				<div class = "thumbnail">
					<img src="../images/Accelerate/NavigationMap.png" class="img-responsive" >
					<div class="caption">
						After creating hand sketches of the application screens, we updated the
						navigation map.
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class = "col col-md-12">
				<p>As we went through the design process, we made increasingly more detailed
					designs. We began with sketches, then created low-fidelity mockups,
					and finally interated to make high-fidelity mockups. To create mockups,
					we used Adobe Illustrator. We went through multiple iterations of
					high-fidelity mock-ups trying to get the right color palette and feel
					for our application. We decided that we wanted a  playful and light-hearted
					theme. We wanted to give them an application that was enjoyable to use
					and would help to alleviate some of their stress.</p>
			</div>
		</div>
		<div class="row">
			<div class="col col-md-12">
				<div class = "thumbnail">
					<img src="../images/Accelerate/LowFiMockUps_white.png" class="img-responsive">
					<div class="caption">
						Low-fidelity digital sketches of our application.
					</div>
				</div>
			</div>
		</div>
				<!--<p>We fleshed out our idea using a navigation map, which we used to think through the functionality of our app and the interaction that would be needed to move between different functions. Through our navigation map, we were able to quickly analyze the breadth and depth of our application. We initially created it using screen names. As we progressed through our design process, we maintained our navigation map and kept checking that breadth and depth was appropriate. In updating, we also replaced key screens with sketches, low-fidelity mockups, and high-fidelity mockups. This was helpful for us because it was natural for the complexity of our application to increase as we thought about it more; however, we wanted to keep it simple. Using the navigation map, we were able to see when we needed to reconsider features and scale back.</p>
				<br/>
				<div class="row">
					<div class="col col-md-8">
						<img src="../images/Accelerate/NavMapWithSketches.JPG" class="img-responsive">
						<div class="caption_text">
							As a team, we created a navigation map to sketch out the flow of our application. As we continued the design process, we updated our navigation map and added sketches for key screens.
						</div>
					</div>
				</div>
				<br/>
				<p>As we went through the design process, we made increasingly more detailed designs. We began with sketches, then created low-fidelity mockups, and finally interated to make high-fidelity mockups. To create mockups, we used Adobe Illustrator. We went through multiple iterations of high-fidelity mock-ups trying to get the right color palette and feel for our application. We originally had a look and feel that was inspired by ambulances. We had red and blue as our primary colors and had straight lines. However, we later decided that we wanted a more playful and lighthearted theme. EMTs see ambulances incessantly and they are likely a stressful place for them, so we didn't want to remind them of that. We wanted to give them an application that was enjoyable for them and would help to alleviate some of their stress.</p>
				<br/>
				<div class="row">
					<div class="col col-md-12">
						<img src="../images/Accelerate/LowFiMockUps.png" class="img-responsive">
							<div class="caption_text">
								After doing sketches, we did an iteration of low-fidelity mockups in black and white. These were used to begin understanding the amount of information and interactivity that would be appropriate per screen.
							</div>
					</div>
				</div>
			</div>
		</div>-->

		<!--Final Deliverables -->
		<div class="row">
			<div class="col col-md-12">
				<h4>Final Deliverables</h4>
				<p>The final deliverables for this project were completed designs, design
					specifications, and a final presentation to the class. The final designs
					included a fun, playful color scheme and an owl character to provide
					consistency and whimsy throughout.</p>
				<div class="row">
					<div class="col col-md-8 col-md-offset-2">
						<div class = "thumbnail">
							<img src="../images/Accelerate/Accelerate-Final-Designs.png" class="img-responsive">
							<div class="caption">
								We designed eight total screens for our final design.
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</html>
