<!doctype html>
<html>﻿
	<link href="../Content/projectPage.css" rel="stylesheet" />
	<!--<link href="../Content/accelerate.css" rel="stylesheet" />-->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:700,300,600,400' rel='stylesheet' type='text/css'>

	<!--Header-->
	<div class="container">
		<br/>
		<div class="headline">
			<div class="row">
				<div class="col col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2">
					<h1 class="headline">Accelerate</h1>
					<h4 class="headline">iOS Application Design</h4>
					<p class="headline">October 2014 - December 2014</p>
				</div>
			</div>		
		</div>
		<hr/>

		<!--Meta data -->
		
		<div class="row">
			<div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<img src="../images/Accelerate/Accelerate_icon_long.png" class="img-responsive" alt="Responsive image">
			</div>
		</div>	<!--End icon image-->


		<div class="row meta-data">
			<div class="meta-data-point col col-xs-12 col-sm-3 col-md-3 col-lg-2 col-lg-offset-2">
				<h4 class="meta-header">Process</h4>
				<ul>
					<li>Research</li>
					<li>Brainstorming</li>
					<li>Flow Map</li>
					<li>Wireframing</li>
					<li>Hi-fidelity Design</li>
					<li>Prototype</li>
				</ul>	
			</div>
			<div class="meta-data-point col col-xs-12 col-sm-3 col-md-3 col-lg-2">
				<h4 class="meta-header">Contributions</h4>
				<ul>
					<li>Research</li>
					<li>Flow Map</li>
					<li>Wireframes</li>
					<li>Prototype</li>
				</ul>	
			</div>
			<div class="meta-data-point col col-xs-12 col-sm-3 col-md-3 col-lg-2">
				<h4 class="meta-header">Team</h4>
				<ul>
					<li>Jay Lui</li>
					<li>Nicole Navolio</li>
					<li>Leticia Patricio</li>
				</ul>	
			</div>
			<div class="meta-data-point col col-xs-12 col-sm-3 col-md-3 col-lg-2">
				<h4 class="meta-header">Deliverable Links</h4>
				<ul>
					<li><a href="../images/Accelerate/Accelerate-Final-Designs.png" target="_blank">Final Designs</a></li>
					<li><a href="../images/Accelerate/Design-Specs.pdf" target="_blank">Design Specifications</a></li>
					<li><a href="http://invis.io/CV2I3BFXN" target="_blank">Prototype</a></li>
					<li><a href="../images/Accelerate/Final-Presentation.pdf" target="_blank">Presentation</a></li>
				</ul>	
			</div>
		</div>	<!--End meta-data section-->
		<hr/>


		<!--final idea-->
		<div class="row">
			<div class="col col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
				<h3 class="phase-header narrative">We created a fun and educational mobile application to help EMTs learn to cope with their stressful jobs.</h3>
			</div>
		</div>
		<div class= "row">
			<div class="col col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2 project-description">
				<p>Accelerate is an application that helps emergency medical service employees cope with their uniquely stressful jobs. For my Interaction Design Fundamentals class at CMU, we designed this application to provide facts and quizzes to encourage EMS workers to learn more about topics like mental health, nutrition, and driving skills.</p>
			</div> 
		</div>	
		<div class="row">
			<div class = "col col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2">
				<img id="FinalDesigns" src="../images/Accelerate/Accelerate-Final-Designs.png" class="img-responsive" alt="Responsive image">
				<p class="caption">We designed eight total screens for our final design.</p>
			</div>
		</div> <!-- end final idea -->
		<hr/>
		<div class="row">
			<div class="col col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
				<h3 class="phase-header narrative">Research showed us that EMTs have very stressful jobs, but they are willing to learn in their free time.</h3>
			</div>
		</div>

		<!--Research -->
		<div class="row">
			<div class="col col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2">
				<p>We learned about life and work of professionals in the emergency medical services field by researching internet blogs, articles, and ride along videos of EMTs on the job. We also conducted an interview with an EMT to further explore the themes we saw in our initial research.</p>	
			</div>
		</div>
		<br/>
		<div class="row">
			<div class="col col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2">
				<blockquote>
					<p>“Myself and many of my co-workers have sought grief counseling, nutrition assistance, and some have even been placed on heavy sleep medications because they never had [targeted information] available to them in a more private medium.”</p>
					<small>EMT</small>
				</blockquote>
			</div>	
		</div>
		<div class="key-findings">
			<div class="row">
				<div class="col col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2">
					<img src="../images/Accelerate/key-findings.png" class="img-responsive" alt="Responsive image">
				</div>
			</div>
		</div>	<!-- end Research -->

		<!-- Brainstorming -->
		<hr/>
		<div class="row">
			<div class="col col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
				<h3 class="phase-header narrative">After doing research, we used our personas to brainstorm ideas and write narratives to test them.</h3>
			</div>
		</div>
		<div class="row">
			<div class="col col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2">
				<p>We used the personas of two different types of users to guide our concept generation. We generated fifty unique application ideas and mapped them on an affinity diagram and a feasibility-impact matrix. We created narratives of the most promising ideas. We received feedback from our classmates and also from an EMT on our concepts.</p>
			</div>
		</div>
		<br/>
		<div class="row">
			<div class="col col-xs-12 col-sm-12 col-md-6 col-lg-4 col-lg-offset-2">
				<img src="../images/Accelerate/Sharon.png" class="img-responsive" alt="Responsive image">
			</div>
			<div class="col col-xs-12 col-sm-12 col-md-6 col-lg-4">
				<img src="../images/Accelerate/Roland.png" class="img-responsive" alt="Responsive image">
			</div>
		</div>
	</br>
		<div class="row">
			<div class="col col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2">
				<img src="../images/Accelerate/Impact-feasibility.png" class="img-responsive" alt="Responsive image">
				<p class="caption">We worked as a team talking through our design ideas to determine the impact and feasibility of each idea.</p>
			</div>
		</div> <!-- end Brainstorming -->

		<!-- Flow Map -->
		<hr/>
		<div class="row">
			<div class="col col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
				<h3 class="phase-header narrative">For EMTs with stressful jobs, it was important to keep our application simple and easy to use.</h3>
			</div>
		</div>
		<div class="row">
			<div class="col col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2">
				<p>To better understand the complexity of our application, we created a flow map. As we created wireframes and iterated to created higher fidelity designs, we updated our flow map with the newest versions our of screens. This helped us to keep the functionaly of the application appropriately simple.</p>
			</div>
		</div>
		<br/>
		<!--<div class="row">
			<div class="col col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2">
				<h3 class="phase-header">Flow Map</h3>
			</div>
		</div>
		<div class="row">
			<div class = "col col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2">
				<p>We expounded upon our idea using a flow map. We updated it as we added to our concept and as we created higher fidelity designs. By referencing it throughout the process, we were able to keep an appropriate breadth and depth for the application. We also used it as a check to keep the functionality of the application appropriately simple.</p>
			</div>
		</div> -->
		<div class="row">
			<div class = "col col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2">
				<img src="../images/Accelerate/flow-map.png" class="img-responsive" alt="Responsive image">
				<p class="caption">At each stage of the design process, we updated our flow map with the most relevant screens</p>
			</div>
		</div> <!-- end Flow Map -->

		<!-- Wireframing -->
		<!--<div class="row">
			<div class="col col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2">
				<h3 class="phase-header">Wireframing</h3>
			</div>
		</div>
		<div class="row">
			<div class = "col col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2">
				<p>As we went through the design process, we made increasingly more detailed designs. We began with sketches, then created low-fidelity mockups, and finally interated to make high-fidelity mockups. To create mockups, we used Adobe Illustrator. We went through multiple iterations of high-fidelity mock-ups trying to get the right color palette and feel for our application. We decided that we wanted a  playful and light-hearted theme. We wanted to give them an application that was enjoyable to use and would help to alleviate some of their stress.</p>
			</div>
		</div> -->
		<div class="row">
			<div class = "col col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2">
				<img src="../images/Accelerate/LowFiMockUps_white.png" class="img-responsive" alt="Responsive image">
				<p class="caption">Low-fidelity digital sketches of our application were created using Adobe Illustrator.</p>
			</div>
		</div> <!-- end wireframing -->

		<hr/>
		<div class="row">
			<div class="col col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
				<h3 class="phase-header narrative">Accelerate provides EMTs with an fun way to learn skills, interact with squad members, and get visibility from management.</h3>
			</div>
		</div>
		<div class="row">
			<div class="col col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2">
				<p>We followed up with an EMT to test out our design. He was very pleased and said it would definitely be something he would use. To conclude this project, we created a <a href="../images/Accelerate/Final-Presentation.pdf" target="_blank">presentation</a> to share with the class, an <a href="http://invis.io/CV2I3BFXN" target="_blank">Invision prototype</a>, and a <a href="../images/Accelerate/Design-Specs.pdf" target="_blank">design specification document</a>. </p>
			</div>
		</div>
		<br/>

		<!-- Hi-fidelity Design -->
		<!--<div class="row">
			<div class="col col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2">
				<h3 class="phase-header">Final Deliverables</h3>
				<p>The final deliverables for this project were completed designs, design pecifications, and a final presentation to the class. As part of the presentation, we also included a <a href="https://projects.invisionapp.com/share/3G1SPWQKJ#/screens" target="_blank">demo</a> created with invision. The final designs included a fun, playful color scheme and an owl character to provide consistency and whimsy throughout.</p>
			</div>
		</div> --><!-- end hi-fidelity design -->
		<div class="row small-hidden">
			<div class="col col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2">
				<div class="row-centered">
					<iframe width="396" height="834" src="//invis.io/YE2I3E0CQ" frameborder="0" allowfullscreen></iframe>
					<p class="caption">The final designs included a fun, playful color scheme and an owl character to provide consistency and whimsy throughout.</p>
				</div>
			</div>
		</div>

	</div>	<!-- end container -->
</html>
