<link href="../Content/contact.css" rel="stylesheet" />
<link href="../Content/font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="container">
              <br/>
              <div class="panel panel-default">
                <div class="panel-body">
                  Thanks for reviewing my site, feel free to contact me at any of my networks below.
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="container">
                  <div class="text-center center-block">

                        <a href="https://www.facebook.com/kaitlyn.sparks.98"><i id="social" class="fa fa-facebook-square fa-3x social-fb"></i></a>

                        <a href="https://twitter.com/KaitlynSparks"><i id="social" class="fa fa-twitter-square fa-3x social-tw"></i></a>

                        <a href="https://plus.google.com/u/0/106201679513041750453/posts"><i id="social" class="fa fa-google-plus-square fa-3x social-gp"></i></a>

                        <a href="https://www.linkedin.com/profile/view?id=123380350&authType=NAME_SEARCH&authToken=cGN9&locale=en_US&trk=tyah2&trkInfo=tarId%3A1420257371304%2Ctas%3Akaitlyn%2Cidx%3A1-1-1"><i id="social" class="fa fa-linkedin-square fa-3x social-li"></i></a>
                        
                        <a href="mailto:kaitlynesparks@gmail.com"><i id="social" class="fa fa-envelope-square fa-3x social-em"></i></a>

                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
