<link href="../Content/distractionfreecoding.css" rel="stylesheet" />

<!--Header-->
<div class="container">
<h1>Distraction Free Coding</h1>
<h4>Research student developer problems using Contextual Design methodology</h4>
<hr/>

<!--Meta data-->
<div class="row">
	<div class="col col-md-4 upward-adjust">
        <img src="../images/DistractionFreeCoding/icon.png" style="width: 300px;">
	</div>
	<div class="col col-md-8">
		<span class="category">Project Type:</span> Research
		<br/><br/>
		<p><span class="category">Contributions:</span> Contextual Inquiry, Affinity Diagrams, Sequence Models, Flow Models, Visioning
		<br/><br/>
		<span class="category">Team Members:</span> Holly Brosnahan, Amalya Henderson, Michael Richardson, Yueying Tang
		<br/><br/>
		<span class="category">Duration:</span> October 2014 - December 2014
		<br/><br/>
		<span class="category">Class:</span> User Centered Research and Evaluation, CMU </p>
	</div>
</div>
<hr/>

<!--About Project-->
<div class="row">
	<div class="col col-md-12">
		<p><span class="category">Assignment:</span> This was a series of assignments designed to practice Contextual Design methods. The prompt was to observe student developers to see the issues that arise. Teams were then allowed to focus on improving any aspect of the student development process that they observed.
		<br/><br/>	
		<span class="category">Opportunity:</span> Student developers are easily distracted when trying to do to their homework. They are required to use a lot of systems to perform their tasks, and they are provided with a variety of resources to reference to learn the material. The need to switch between systems coupled with the constant distraction from social media and friends makes it difficult for students to stay focused on their assignments.
		<br/><br/>
		<span class="category">Solution:</span> A coding environment that blocks messages and provides a single environment for students to reference resources and make annotations. The program locks for a specific period of time for students to work and then provides break time where it allows messages to reach students. It also provides places to take notes that are tied to lines of code and shows resources beside code files which prevents students from having to switch between applications.</p>
	</div>
</div>
<hr/>

<!--Process Header-->
<div class="row process">
	<div class="col col-md-12">
		<h3><span class="category">Process</span></h3>
	</div>
</div>

<!--Contextual Inquiry-->
<div class="row">
	<div class="col col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
		    	<h3 class="panel-title">Contextual Inquiry</h3>
			</div>
			<div class="panel-body">
		    	We began by performing contextual interviews with student developers. Each team member interviewed one student; we had 5 team members giving us a total of 5 interviews. During interviews, we went to the location where the developers normally worked and observed them working on their own homework assignments. Because these were contextual interviews, we did not come with specific questions to ask. Instead, we assumed the role of an apprentice learning from a master. We asked students questions about what they were doing as they did it to get an understanding of their natural problems and processes. By doing this, we got to see the truth about what happens and not just what the interviewee remembered and thought was important. We took notes during the interview to use later during interpretation sessions.
			</div>
		</div>
	</div>
</div>

<!--Interpretation Sessions-->
<div class="row">
	<div class="col col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
		    	<h3 class="panel-title">Interpretation Sessions</h3>
			</div>
			<div class="panel-body">
		    	During the interpretation sessions, the team gathered and went through the interviews one at a time. The interviewer read their notes aloud and the rest of the team worked on creating the flow model and the sequence model. We also created notes about interesting things, breakdowns, and design ideas that would be used later to create the affinity diagram. By having each member activity engaged in the session, we were able to internalize the information about each interview sesssion without having to be present for all of them.
		    	<br/><br/>
		    	<div class="row">
					<div class="col col-md-6">
						<img src="../images/DistractionFreeCoding/SequenceModel.JPG" class="img-responsive" >
						<div class="caption_text">	
						We created sequence models for each interview. We included the steps that were taken during the interview as well as the triggers for those events and the intents of the actions taken. If breakdowns occurred, we noted those in red.
						</div>
					</div>
					<div class="col col-md-4">
						<img src="../images/DistractionFreeCoding/FlowModel.JPG" class="img-responsive" >
    					<div class="caption_text">	
						During the interpretation sessions, we created flow models indicating the key players and how they interacted. We noted breakdowns in red.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--Affinity Diagram and Consolidated Models-->
<div class="row">
	<div class="col col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
		    	<h3 class="panel-title">Affinity Diagram and Consolidated Models</h3>
			</div>
			<div class="panel-body">
		    	We took the notes we created during the interpretation session and grouped them to create an affinity diagram. When grouping these notes, we creating three layers of headings. The lower two are written from the customer perspective. This allowed us to look back at the affinity diagram later and just reading the headings to get an idea of what was happening. We also consolidated the 5 sequences into one sequence that represented all of the users. We did the same with the flow models to create one consolidated model. This process allows us to use the data we collected to create one picture of what is common in the process across all interviewees. It is also an additional step that helps us digest the information so that we can easily recall it later.
		    	<br/><br/>
		    	<div class="row">
					<div class="col col-md-12">
						<img src="../images/DistractionFreeCoding/Affinity.JPG" class="img-responsive" >
    					<div class="caption_text">	
						A portion of our affinity diagram that was created from the notes taken during the interpretation session. The blue and pink post-its are written from the interviewees perspective. Breakdowns are represented with notes in red type.
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col col-md-4">
						<img src="../images/DistractionFreeCoding/ConsolidatedFlow.jpg" class="img-responsive" >
    					<div class="caption_text">	
						The 5 flow models created during the interpretation sessions were combined into this one consolidated flow model representing all of the roles and relationships that were seen in the individual flow models.
						</div>
					</div>
					<div class="col col-md-4">
						<img src="../images/DistractionFreeCoding/ConsolidatedSequence.JPG" class="img-responsive" >
    					<div class="caption_text">	
						The 5 sequence models created during the interpretation sessions were combined into this one consolidated sequence model. We included the intents and triggers from the original sequences into this model as well.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--Visioning-->
<div class="row">
	<div class="col col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
		    	<h3 class="panel-title">Visioning</h3>
			</div>
			<div class="panel-body">
		    	After consolidating the models, we began visioning. We revisited our affinitiy diagram and models. For each, we generated design ideas and determined the key problems we needed to address. Then we listed the technologies we had available to us to solve the problems. While looking at our models and technologies list, we began visioning by sketching out possible scenarios in an improv style session with one person being the writer and the other team members speaking their ideas aloud. 
		    	<br/><br/>
		    	<div class="row">
					<div class="col col-md-5">
						<img src="../images/DistractionFreeCoding/GenerateIdeas.JPG" class="img-responsive">
    					<div class="caption_text">	
						Before we began visioning, we each looked at the affinity diagram and added notes containing design ideas, questions, and key features that needed to be included in our solutions.
						</div>
					</div>
					<div class="col col-md-3">
						<img src="../images/DistractionFreeCoding/Vision.JPG" class="img-responsive">
						<div class="caption_text">	
						We created visions by doing quick sketches of the ideas that teammates were coming up with in a quick, improv style visioning session.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--Final Deliverables-->
<div class="row">
	<div class="col col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
		    	<h3 class="panel-title">Final Deliverables</h3>
			</div>
			<div class="panel-body">
		    	After we did 5 visions, we determined the ones we thought were most promising based on the information we learned about our users while generating our affinity diagram, sequence models, and flow models. We consolidated the visions containing those ideas to create a final concept. As a final deliverable, we presented our findings and our final idea to the class.
			</div>
		</div>
	</div>
</div>


</div>