<!doctype html>
<html>
	<link href="../Content/projectPage.css" rel="stylesheet" />
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:700,300,600,400' rel='stylesheet' type='text/css'>

	<!--Header-->
	<div class="container">
		<br/>

		<div class="headline">
			<div class="row">
				<div class="col col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2">
					<h1 class="headline">Distraction Free Coding</h1>
					<h4 class="headline">Research student developer problems using Contextual Design methodology</h4>
					<p class="headline">October 2014 - December 2014</p>
				</div>
			</div>		
		</div> <!-- close headline -->
		<hr/>

		<!--Meta data-->

		<div class="row">
			<div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<img src="../images/DistractionFreeCoding/Contextual-inquiry-stats.png" class="img-responsive" alt="Responsive image">
			</div>
		</div> <!-- end icon image -->

		<div class="row meta-data">
			<div class="meta-data-point col col-xs-12 col-sm-3 col-md-3 col-lg-2 col-lg-offset-2">
				<h4 class="meta-header">Process</h4>
				<ul>
					<li>Contextual Inquiry</li>
					<li>Interpretation</li>
					<li>Consolidated Models</li>
					<li>Visioning</li>
				</ul>	
			</div>
			<div class="meta-data-point col col-xs-12 col-sm-3 col-md-3 col-lg-2">
				<h4 class="meta-header">Contributions</h4>
				<ul>
					<li>Interview</li>
					<li>Models</li>
					<li>Brainstorming</li>
				</ul>	
			</div>
			<div class="meta-data-point col col-xs-12 col-sm-3 col-md-3 col-lg-2">
				<h4 class="meta-header">Team</h4>
				<ul>
					<li>Holly Brosnahan</li>
					<li>Amalya Henderson</li>
					<li>Michael Richardson</li>
					<li>Yueying Tang</li>
				</ul>	
			</div>
			<div class="meta-data-point col col-xs-12 col-sm-3 col-md-3 col-lg-2">
				<h4 class="meta-header">Deliverables</h4>
				<ul>
					<li><a href="../images/DistractionFreeCoding/Final-Presentation.pdf" target="_blank">Presentation</a></li>
				</ul>	
			</div>
		</div> <!-- end Meta-data -->
		<hr/>

				<!--final idea-->
		<div class="row">
			<div class="col col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
				<h3 class="phase-header narrative">Learning to code is difficult. We researched student developers to create a concept for a development environment that helps manage distractions.</h3>
			</div>
		</div>
		<div class="row">
			<div class="col col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2">
				<p>When student developers are working on assignments, there are multiple sources that they have to reference including textbooks, assignment sheets, powerpoints, internet articles, and scratch paper. Application switching presents opportunities for other distractions to catch their attention. For our User Centered Research and Evaluation class at CMU, we performed the contextual design methodology as described by Karen Holtzblatt to envision a solution.</p>
			</div>
		</div>

		<!--<div class="row">
			<div class="col col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2">
				<p>Developers struggle to pay attention to their work, especially student developers. It's easy to get distracted on a computer. We also noticed that developers heavily depend on outside resources and spend significant time switching between applications to access those resources. For our User Centered Research and Evaluation class at CMU, we performed the contextual design methodology as described by Karen Holtzblatt on student developers. Synthesizing that research, we discovered that distraction and application switching were two of the biggest problems they faced. We envisioned a solution that will lock down the coding environment to prevent distraction while improving the way that students view outside resources. </p>
			</div>
		</div> -->
		<div class="row">
			<div class="col col-xs-12 col-sm-6 col-md-6 col-lg-4 col-lg-offset-2">
				<div class="thumbnail">
					<img src="../images/DistractionFreeCoding/storyboard-1.png">
					<div>	
						To start his homework, Johnny opens his code environment with distraction blocker, notes, and annotation space.
					</div>
				</div>
			</div>	
			<div class="col col-xs-12 col-sm-6 col-md-6 col-lg-4">
				<div class="thumbnail">
					<img src="../images/DistractionFreeCoding/storyboard-2.png">
					<div>	
						When Johnny’s friend sends him a text, the message is blocked and saved into a queue for later.
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col col-xs-12 col-sm-6 col-md-6 col-lg-4 col-lg-offset-2">
				<div class="thumbnail">
					<img src="../images/DistractionFreeCoding/storyboard-3.png">
					<div>	
						While doing his work, Johnny can highlight code and add notes associated with those lines of code.
					</div>
				</div>
			</div>
			<div class="col col-xs-12 col-sm-6 col-md-6 col-lg-4">
				<div class="thumbnail">
					<img src="../images/DistractionFreeCoding/storyboard-4.png">
					<div>	
						After working for a specified amount of time, Johnny is allowed to take a break and get all of the notifications that had been queued for him.
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col col-xs-12 col-sm-6 col-md-6 col-lg-4 col-lg-offset-2">
				<div class="thumbnail">
					<img src="../images/DistractionFreeCoding/storyboard-5.png">
					<div>	
						After the break, Johnny returns to his work and the last line he was coding is highlighted so he knows where to resume working.
					</div>
				</div>
			</div>
		</div>

		<!--Contextual Inquiry-->
		<hr/>
		<div class="row">
			<div class="col col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
				<h3 class="phase-header narrative">We conducted contextual inquiry interviews to see how developers do their homework.</h3>
			</div>
		</div>
		<div class="row">
			<div class="col col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2">
				<p>We performed 5 contextual inquiry interviewers with student developers. To do this we sat with the developers in the environment they normally work in doing one of their own assignments. From this we saw a few problems that developers encountered including the need to reference a large number of materials and a problem with focus and distractions.</p>
			</div>
		</div> <!-- end contextual inquiry -->

		<hr/>
		<div class="row">
			<div class="col col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
				<h3 class="phase-header narrative">We met together to review our interviews and create sequence models and flow models for each student we interviewed. </h3>
			</div>
		</div>
		<div class="row">
			<div class="col col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2">
				<p>During the interpretation sessions, the team went through the interviews one at a time. The interviewer read her notes aloud and the rest of the team worked on creating the flow model and the sequence model. We also created notes about interesting things, breakdowns, and design ideas that would be used later to create the affinity diagram.</p>
			</div>
		</div> 
		<div class="row">
			<div class = "col col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2">
				<img src="../images/DistractionFreeCoding/Interpretation-Sessions.png" class="img-responsive" alt="Responsive image">
				<p class="caption">During our interpretation sessions, we created models models for each participant and took notes to use for the affinity diagram.</p>
			</div>
		</div> <!-- end interpretation session -->

		<!--Affinity Diagram and Consolidated Models-->
		<hr/>
		<div class="row">
			<div class="col col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
				<h3 class="phase-header narrative">To see patterns across all students, we created consolidated models and an affinity diagram.</h3>
			</div>
		</div>

		<div class="row">
			<div class = "col col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2">
				<p>We took the notes we created during the interpretation session and grouped them to create an affinity diagram. When grouping these notes, we creating three layers of headings. The lower two are written from the customer perspective. This allowed us to look back at the affinity diagram later and get an overall idea of what was happening by simply looking at the headings. </p>
			</div>
		</div>
		<div class="row">
			<div class = "col col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2">
				<img src="../images/DistractionFreeCoding/AffinityDiagram.png" class="img-responsive" alt="Responsive image">
				<p class="caption">A portion of our affinity diagram that was created from the notes taken during the interpretation session. The blue and pink post-its are written from the interviewees perspective.</p>
			</div>
		</div> <!-- end affinity diagram -->
		<div class="row">
			<div class = "col col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2">
				<p>We also consolidated the 5 sequences into one sequence that represented all of the users. We did the same with the flow models to create one consolidated model. This process allows us to use the data we collected to create one picture of what is common in the process across all interviewees.</p>
			</div>
		</div>
		<div class="row">
			<div class = "col col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2">
				<img src="../images/DistractionFreeCoding/Consolidated-Models.png" class="img-responsive" alt="Responsive image">
				<p class="caption">Consolidated sequence and flow models</p>
			</div>
		</div> <!-- end affinity diagram -->

		<!--Visioning-->
		<hr/>
		<div class="row">
			<div class="col col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
				<h3 class="phase-header narrative">We brainstormed ideas to come up with multiple options for solutions to the problems we identified from the affinity diagram and models.</h3>
			</div>
		</div>
		<div class="row">
			<div class = "col col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2">
				<p> We revisited our affinitiy diagram and models. For each, we generated design ideas and determined the key problems we needed to address. Then we began visioning by sketching out possible scenarios in an improv-style session with one person being the writer and the other team members speaking their ideas aloud.</p>
			</div>
		</div>
		<div class="row">
			<div class = "col col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2">
				<img src="../images/DistractionFreeCoding/Visioning.png" class="img-responsive" alt="Responsive image">
				<p class="caption">We captured key ideas from our diagrams, sketched out ideas as a team, and then analyzed those ideas for pros and cons before coming up with a final vision.</p>
			</div>
		</div>

		<!--Final Deliverables-->
		<hr/>
		<div class="row">
			<div class="col col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
				<h3 class="phase-header narrative">We created a solution concept for a coding application to solve the problems we saw with students and presented it to the rest of our class.</h3>
			</div>
		</div>
		<div class="row">
			<div class = "col col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2">
				<p>After we did 5 visions, we determined the ones we thought were most promising based on the information we learned about our users while generating our affinity diagram, sequence models, and flow models. We consolidated the visions containing those ideas to create a final concept. As a final <a href="../images/DistractionFreeCoding/Final-Presentation.pdf">deliverable</a>, we presented our findings and our final idea to the class.</p>
			</div>
		</div>
	</div>

</html>