<div class="container">
<h1>Distraction Free Coding</h1>
<h4>Research student developer problems using Contextual Design methodology.</h4>
<hr/>

<div class="row">
	<div class="col col-md-4">
        <img src="../images/DistractionFreeCoding/icon.png" style="width: 300px;">
	</div>
	<div class="col col-md-8">
		<p><strong>Contributions:</strong> Contextual Inquiry, Affinity Diagrams, Sequence Models, Flow Models, Visioning
		<br/><br/>
		<strong>Team Members:</strong> Holly Brosnahan, Amalya Henderson, Michael Richardson, Yueying Tang
		<br/><br/>
		<strong>Duration:</strong> October 2014 - December 2014
		<br/><br/>
		<strong>Class:</strong> User Centered Research and Evaluation, CMU </p>
	</div>
</div>

<hr/>
<div class="row">
	<div class="col col-md-12">
		<p><strong>Assignment:</strong> This was a series of assignments designed to practice Contextual Design. The prompt was to observe student developers to see the issues that arise. Teams were then allowed to focus on improving any aspect of the student development process that they observed.
		<br/><br/>	
		<strong>Opportunity:</strong> Student developers are easily distracted when trying to do to their homework. They are required to use a lot of systems to perform their tasks, and they are provided with a variety of resources to reference to learn the material. The need to switch between systems coupled with the constant distraction from social media and friends makes it difficult for students to stay focused on their assignments.
		<br/><br/>
		<strong>Solution:</strong> A coding environment that blocks messages and provides a single environment for students to reference resources and make annotations. The program locks for a specific period of time for students to work and then provides break time where it allows messages to reach students. It also provides places to take notes that are tied to lines of code and shows resources beside code files which prevents students from having to switch between applications.</p>
	</div>
</div>
<hr/>
<div class="row">
	<div class="col col-md-12">
		<h3>Process</h3>
	</div>
</div>
<div class="row">
	<div class="col col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
		    	<h3 class="panel-title">Contextual Inquiry</h3>
			</div>
			<div class="panel-body">
		    	We began by performing contextual interviews with developers. Each team member interviewed one student for a total of 5 interviews. During interviews, we went to the location where the developers normally worked and observed them working on their own homework assignments. We took notes to use during interpretation sessions.
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
		    	<h3 class="panel-title">Interpretation Sessions</h3>
			</div>
			<div class="panel-body">
		    	During the interpretation sessions, we went through the interviews one at a time.  The interviewer read their notes aloud and the rest of the team worked on creating the flow model and the sequence model. We also created notes about interesting things, breakdowns, and design ideas that would be used later to create the affinity diagram.
		    	<br/><br/>
		    	<div class="row">
					<div class="col col-md-6">
						<div class="thumbnail"><img src="../images/DistractionFreeCoding/SequenceModel.JPG">
    					</div>
					</div>
					<div class="col col-md-6">
						<div class="thumbnail"><img src="../images/DistractionFreeCoding/FlowModel.JPG">
    					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
		    	<h3 class="panel-title">Affinity Diagram and Consolidated Models</h3>
			</div>
			<div class="panel-body">
		    	We took the notes we created during the interpretation session and grouped them to create an affinity diagram. When grouping these notes, we creating three layers of headings. The lower two are in the customer perspective. This allowed us to look back at the affinity diagram later and just reading the headings to get an idea of what was happening. We also consolidated the 5 sequences into one sequence that represented all of the users.  We did the same with the flow models to create one consolidated model.
		    	<br/><br/>
		    	<div class="row">
					<div class="col col-md-12">
						<div class="thumbnail"><img src="../images/DistractionFreeCoding/Affinity.JPG">
    					</div>
					</div>
				</div>
				<div class="row">
					<div class="col col-md-6">
						<div class="thumbnail"><img src="../images/DistractionFreeCoding/ConsolidatedFlow.jpg">
    					</div>
					</div>
					<div class="col col-md-6">
						<div class="thumbnail"><img src="../images/DistractionFreeCoding/ConsolidatedSequence.JPG">
    					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
		    	<h3 class="panel-title">Visioning</h3>
			</div>
			<div class="panel-body">
		    	After consolidating the models, we began visioning. We revisited our models and affinity diagram and generated design ideas and determined the key problems we needed to address. Then we listed the technologies we had available to us to solve the problems. While looking at our models and technologies, we began visioning by sketching out possible scenarios in an improv style session with one person being the writer and the other team members speaking their ideas aloud. 
		    	<br/><br/>
		    	<div class="row">
					<div class="col col-md-6">
						<div class="thumbnail"><img src="../images/DistractionFreeCoding/GenerateIdeas.JPG">
    					</div>
					</div>
					<div class="col col-md-6">
						<div class="thumbnail"><img src="../images/DistractionFreeCoding/Vision.JPG">
    					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
		    	<h3 class="panel-title">Final Deliverables</h3>
			</div>
			<div class="panel-body">
		    	After we did 5 visions, we determined the ones we thought were most promising based on the information we learned about our users while generating our affinity diagram, sequence models, and flow models.  We then consolidated the visions containing those ideas to create a final idea. As a final deliverable, we presented our findings and our final idea to the class.
			</div>
		</div>
	</div>
</div>


</div>