<div class="container">
<h1>Hackathons and Challenges</h1>
<h4>I competed in a hackathon and a challenge in order to learn new technologies and keep up my existing development skills.</h4>
<hr/>
<div class="row">
	<div class="col col-md-12">
		<h2>iOS App Challenge</h2>
	</div>
</div>
<div class="row">
	<img src="../images/Hackathons/FeedingFriendzy/iOSAppChallenge.png">
</div>
<div class="row">
	<div class="col col-md-12">
		<h4>About the Challenge</h4>
	</div>
</div>
<div class="row">
	<div class="col col-md-12">
		This challenge was sponsored by Apple and was designed to teach students Apple’s new language for apps, Swift.  We were given a quick workshop one afternoon on using Swift. Then we had the task of developing an App using Apple’s Sharesheet API which can be used to share content through other apps on the phone, including things like text messaging, email, Facebook, Twitter, etc. 
	</div>
</div>
<div class="row">
	<div class="col col-md-12">
		<h4>Our Project</h4>
	</div>
</div>
<div class="row">
	<div class="col col-md-12">
		My team decided to build an application that we called Feeding Friendzy. This app is intended to help busy people, like college students or young professionals, that don’t like to eat alone. This app allows you to choose a time and place to eat and then push that notification to your social feeds so that your friends can join you for a meal. We integrated our app with the Google Maps and Google Places APIs so that users can select eating locations from within the app.  We also integrated the login and sharing features with Facebook so that users did not have to manage a new set of friends just for this application. 
	</div>
</div>
<div class="row">
	<div class="col col-md-12">
		<h4>My Contribution</h4>
	</div>
</div>
<div class="row">
	<div class="col col-md-12">
		For this project, my contributions included the Facebook integration and putting together the overall application. For the Facebook integration, I integrated the login and polled the API for your friend network. I was also responsible for the overall flow of the application and integrating all of the pieces that the rest of the team worked on, including server code, database development, Google APIs integration, and image design. 
	</div>
</div>	
<div class="row">
	<div class="col col-md-12">
		<h4>Final Application</h4>
	</div>
</div>
<div class="row">
	<div class="col col-md-12">
		<div class="thumbnail"><img src="../images/Hackathons/FeedingFriendzy/FeedingFriendzyFinalDesigns.png">
		</div>
	</div>
</div>
<div class="row">
	<div class="col col-md-12">
		<h4>More Information</h4>
	</div>
</div>
<div class="row">
	<div class="col col-md-12">
		ChallengePost: <a href="http://challengepost.com/software/feeding-friendzy">http://challengepost.com/software/feeding-friendzy</a>
		<br/>
		GitHub: <a href="https://github.com/shawnxusy/Feeding-friendzy">https://github.com/shawnxusy/Feeding-friendzy</a>
	</div>
</div>

<hr/>
<div class="row">
	<div class="col col-md-12">
		<h2>MHCI Hackathon</h2>
	</div>
</div>
<div class="row">
	<div class="col col-md-3">
        <img src="../images/Hackathons/MHCIHackathon/MHCI_Hackathon.png">
	</div>
	<div class="col col-md-9">
		<div class= "row">
			<h4>About The Challenge</h4>
		</div>
		<div class="row">
			This challenge was hosted by CMU’s Master’s of Human-Computer Interaction students. Technical support was provided by Microsoft, and the goal of the hackathon was to create a human-centered application with Microsoft technology. This hackathon took place over 20 hours.	
		</div>
	</div>
</div>
<div class="row">
	<div class="col col-md-12">
		<h4>Our Project</h4>
	</div>
</div>
<div class="row">
	<div class="col col-md-12">
		My team decided to use the kinect to create a fully interactive experience called Down Beat. We wanted to create a fun activity that can be used on any big screen by multiple people; we invisioned it being used in a large open area where people are gathered like a festival or amusement park. Down Beat take a song that is broken up into 4 layers. Players use their bodies to control these layers. By moving faster, they speed up the tempo of their layers. By moving closer to the Kinect, they raise the volume of their layers. Additionally, there is a display of Fireworks that is controlled by these same movements. Each player has a different color firework and they change volume and height based on movement. 
	</div>
</div>
<div class="row">
	<div class="col col-md-12">
		<h4>My Contribution</h4>
	</div>
</div>
<div class="row">
	<div class="col col-md-12">
		For this project, my contribution was the controller for the music layers. I used C# and the <a href="http://www.ambiera.com/irrklang/">IrrKlang</a> music player library. When movement was detected by the Kinect, an event was sent to the music controller which was responsible for parsing the events and making the appropriate adjustments to the corresponding layers of music.
	</div>
</div>
<div class="row">
	<div class="col col-md-12">
		<h4>Final Application</h4>
	</div>
</div>
<div class="row">
	<div class="col col-md-6">
		<div class="thumbnail"><img src="../images/Hackathons/MHCIHackathon/coding.JPG">
		</div>
	</div>
	<div class="col col-md-6">
		<div class="thumbnail"><img src="../images/Hackathons/MHCIHackathon/downbeat_demo.jpg">
		</div>
	</div>
</div>
<div class="row">
	<div class="col col-md-12">
		<h4>More Information</h4>
	</div>
</div>	
<div class="row">
	<div class="col col-md-12">
		Hackathon Link: <a href="https://www.hackerleague.org/hackathons/mhci-hackathon">https://www.hackerleague.org/hackathons/mhci-hackathon</a>
		<br/>
		GitHub: <a href="https://github.com/MasterPie/MHCI_Hackathon">https://github.com/MasterPie/MHCI_Hackathon</a>
	</div>
</div>







		
</div>