<!doctype html>
<html>
	<link href="../Content/projectPage.css" rel="stylesheet" />
	<link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>

	<!--Header-->
	<div class="container">
		<div class="headline">
			<div class="row">
				<div class="col col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2"> 
					<h1 class="headline">Hackathons and Challenges</h1>
					<h4 class="headling">I competed in a hackathon and a challenge to learn new technologies and practice my existing development skills</h4>
				</div>
			</div>		
		</div>		
		<hr/>

		<!--iOS App Challenge-->
		<div class="row">
			<div class="col col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2">
				<div class="panel panel-default">
					<div class="panel-heading">
			    		<h3 class="panel-title">iOS App Challenge</h3>
					</div> <!--close panel-heading -->
					<div class="panel-body">
			    		<div class="row">
							<img src="../images/Hackathons/FeedingFriendzy/iOSAppChallenge.png" class="img-responsive">
						</div>

						<!-- About the Challenge-->
						<div class="row">
							<div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<h3 class="phase-header">The Challenge</h3>
							</div>
						</div>
						<div class="row">
							<div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<p>This challenge was sponsored by Apple and was designed to teach students Apple’s new language for apps, Swift.  We were given a quick workshop one afternoon on using Swift. Then we had the task of developing an App using Apple’s Sharesheet API which can be used to share content through other apps on the phone, including text messaging, email, Facebook, Twitter, etc. </p>
							</div>
						</div>

						<!--Our Project-->
						<div class="row">
							<div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<h3 class="phase-header">Our Project</h3>
							</div>
						</div>
						<div class="row">
							<div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<p>My team decided to build an application that we called Feeding Friendzy. This app is intended to help busy people, like college students or young professionals, that don’t like to eat alone. This app allows you to choose a time and place to eat and then push that notification to your social feeds so that your friends can join you for a meal. We integrated our app with the Google Maps and Google Places APIs so that users can select eating locations from within the app.  We also integrated the login and sharing features with Facebook so that users did not have to manage a new set of friends just for this application. </p>
							</div>
						</div>
					
						<!--My Contribution-->
						<div class="row">
							<div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<h3 class="phase-header">My Contribution</h3>
							</div>
						</div>
						<div class="row">
							<div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<p>For this project, I used Xcode and the Swift programming language. My contributions included the Facebook integration and putting together the overall application. For the Facebook integration, I integrated the login and polled the API for your friend network. I was also responsible for the overall flow of the application and integrating all of the pieces that the rest of the team worked on, including server code, database development, Google APIs integration, and image design.</p>
							</div>
						</div>
					
						<!--Final Application-->	
						<div class="row">
							<div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<h3 class="phase-header">Final Application</h3>
							</div>
						</div>
						<div class="row">
							<div class = "col col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<img src="../images/Hackathons/FeedingFriendzy/FeedingFriendzyFinalDesigns.png" class="img-responsive" alt="Responsive image">
								<p class="caption">Screen shots of the final application taken from the running application in the iOS emulator.</p>
							</div>
						</div> 

						<!--More Information-->
						<div class="row">
							<div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<h3 class="phase-header">More Information</h3>
							</div>
						</div>
						<div class="row">
							<div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<a href="http://challengepost.com/software/feeding-friendzy">ChallengePost</a>
								<br/>
								<a href="https://github.com/shawnxusy/Feeding-friendzy">GitHub</a>
							</div>
						</div>
					</div> <!-- close panel-body -->
				</div> <!-- close panel -->
			</div> <!-- close column -->
		</div> <!-- close row -->	

		<!--MHCI Hackathon-->
		<div class="row">
			<div class="col col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2">
				<div class="panel panel-default">
					<div class="panel-heading">
			    		<h3 class="panel-title">MHCI Hackathon</h3>
					</div>
					<div class="panel-body">
			    		<div class="row">
							<img src="../images/Hackathons/MHCIHackathon/MHCI_Hackathon.png" class="img-responsive">
						</div>
		    			
						<!-- About the Challenge-->
						<div class="row">
							<div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<h3 class="phase-header">The Challenge</h3>
							</div>
						</div>
						<div class="row">
							<div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<p>This challenge was hosted by CMU’s Master’s of Human-Computer Interaction students. Technical support was provided by Microsoft, and the goal of the hackathon was to create a human-centered application with Microsoft technology. This hackathon took place over 20 hours.</p>
							</div>
						</div>

						<!--Our Project-->
						<div class="row">
							<div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<h3 class="phase-header">Our Project</h3>
							</div>
						</div>
						<div class="row">
							<div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<p>My team decided to use the kinect to create a fully interactive experience called Down Beat. We wanted to create a fun activity that can be used on any big screen by multiple people; we envisioned it being used in a large open area where people are gathered like a festival or amusement park. Down Beat takes a song that is broken into 4 layers. Players use their bodies to control these layers. By moving faster, they speed up the tempo of their layers. By moving closer to the Kinect, they raise the volume of their layers. Additionally, there is a display of fireworks that is controlled by the same movements. Each player has a different color firework and they change volume and height based on movement.</p>
							</div>
						</div>

						<!--My Contribution-->
						<div class="row">
							<div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<h3 class="phase-header">My Contribution</h3>
							</div>
						</div>
						<div class="row">
							<div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<p>For this project, my contribution was the controller for the music layers. I used C#, Visual Studio, and the <a href="http://www.ambiera.com/irrklang/">IrrKlang</a> music player library. When movement was detected by the Kinect, an event was sent to the music controller which was responsible for parsing the events and making the appropriate adjustments to the corresponding layers of music.</p>
							</div>
						</div>

						<!--Final Application-->
						<div class="row">
							<div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<h3 class="phase-header">Final Application</h3>
							</div>
						</div>
						<div class="row">
							<div class="col col-xs-12 col-sm-12 col-md-6 col-lg-6">
								<div class="thumbnail"><img src="../images/Hackathons/MHCIHackathon/coding.JPG">
									<div class="caption">	
										Working together during the challenge.
									</div>
								</div>
							</div>
							<div class="col col-xs-12 col-sm-12 col-md-6 col-lg-6">
								<div class="thumbnail"><img src="../images/Hackathons/MHCIHackathon/downbeat_demo.jpg">
									<div class="caption">	
										For the final presentation, we gave a fun demo of our application. The fireworks were shown on a display behind us.
									</div>
								</div>
							</div>
						</div>

						<!--More Information-->
						<div class="row">
							<div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<h3 class="phase-header">More Information</h3>
							</div>
						</div>
						<div class="row">
							<div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<a href="https://www.hackerleague.org/hackathons/mhci-hackathon">HackerLeague</a>
								<br/>
								<a href="https://github.com/MasterPie/MHCI_Hackathon">GitHub</a>
							</div>
						</div>
					</div> <!-- close panel-body -->
				</div> <!-- close panel -->
			</div> <!-- close col -->
		</div><!-- close row -->
	</div> <!-- close container -->
</html>