<link href="../Content/home.css" rel="stylesheet" />

<div class="container">

  <div class="jumbotron">
    <h1>Kaitlyn Sparks</h1>
    <p>Your next human compuater interaction expert?!?!</p>
    <p><a class="btn btn-primary btn-lg" ui-sref="about">Learn more</a></p>
  </div>


  <div class="container">
    
      <div class="row">
        
        <div data-ng-repeat="project in projects">

          <div class="col-xs-12 col-sm-6 col-md-4">            
              <div class="thumbnail">
                  <div class="caption">
                      <h4>{{project.Title}}</h4>
                      <p>{{project.Description}}</p>
                      <p>
                      <a ui-sref="{{project.Nav}}" class="label label-default">Learn More</a></p>
                  </div>
                  <img src="{{project.Thumbnail}}" alt="...">
              </div>
          </div>

      </div>

  </div>

</div>