<!doctype html>
<html>﻿
<link href="../Content/home.css" rel="stylesheet" />
<link href="../Content/font-awesome-4.2.0/css/font-awesome.css" rel="stylesheet">
<link href="../Content/contact.css" rel="stylesheet" />


<div class="container">
  <div class="row panel">
    <!--show large image beside text-->
    <div class="col-md-4 bg_blur hidden-sm hidden-xs">
    </div>
        <!--show white box where large image was to extend background-->
    <div class="col-md-4 bg_blur_solid_sm visible-sm">
    </div>
    <!--show white box where large image was to extend background-->
    <div class="col-md-4 bg_blur_solid_xs visible-xs">
    </div>
    <div class="col-md-8 col-xs-12">
      <!--show small image above dialog box for x-small and small screen size-->
      <img src="../images/Home/KaitlynSparks.png" class="img-thumbnail hidden-md hidden-lg hidden-xl picture_mob" />
      <div class="header">
        <br class="hidden-md hidden-lg"/>
        <br class="hidden-md hidden-lg hidden-sm"/>
        <h1>Kaitlyn Sparks</h1>
        <h4>User Experience Research and Design</h4>
        <span><i>I am a Masters of Human-Computer Interaction student at Carnegie Mellon University graduating in August 2015. I am looking for a career in user experience research and design.</i></span>
        <br/><br/>
        <div class="row">
          <div class="col row-centered ">

            <a href="https://www.linkedin.com/in/kaitlynsparks"><i id="social" class="fa fa-linkedin-square fa-3x social-li"></i></a>
            <a href="mailto:kaitlynesparks@gmail.com"><i id="social" class="fa fa-envelope-square fa-3x social-em"></i></a>
          </div>
          <br class="hidden-md hidden-lg hidden-sm"/>

        </div>
      </div>
    </div>
  </div>

  <br/>
  <h3 class = "myWork"> My Work </h3>
  <hr/>

    <div class="row">

      <div data-ng-repeat="project in projects">

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <div class="thumbnail">
              <a ui-sref="{{project.Nav}}">
                  <div class="caption">
                      <h3>{{project.Title}}</h3>
                      <h5>Project Type: {{project.ProjectType}}</h5>
                      <p>{{project.Description}}</p>
                  </div>
              </a>
              <img src="{{project.Thumbnail}}" alt="...">
            </div>
        </div>
    </div>
</div>
</div>
</html>
