<link href="../Content/home.css" rel="stylesheet" />
<link href="../Content/contact.css" rel="stylesheet" />
<link href="../Content/font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet">


<div class="container">
  <div class="row panel">
    <div class="col-md-4 bg_blur ">

    </div>
    <div class="col-md-8  col-xs-12">
      <img src="../images/Home/KaitlynSparks.png" class="img-thumbnail picture hidden-xs" />
      <img src="../images/Home/KaitlynSparks.png" class="img-thumbnail visible-xs picture_mob" />
      <div class="header">
      <br class="hidden-md hidden-lg hidden-sm"/>
      <br class="hidden-md hidden-lg hidden-sm"/>
      <h1>Kaitlyn Sparks</h1>
      <h4>User Researcher and Interaction Designer</h4>
      <span>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
      "There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."</span>   
      <br/><br/>
      <div class="row">
        <div class="col row-centered ">

          <a href="https://plus.google.com/u/0/106201679513041750453/posts"><i id="social" class="fa fa-google-plus-square fa-3x social-gp"></i></a>

          <a href="https://www.linkedin.com/in/kaitlynsparks"><i id="social" class="fa fa-linkedin-square fa-3x social-li"></i></a>

          <a href="mailto:kaitlynesparks@gmail.com"><i id="social" class="fa fa-envelope-square fa-3x social-em"></i></a>
        </div>
        <br class="hidden-md hidden-lg hidden-sm"/>

      </div>
    </div>
  </div>
  </div>   
  
    <div class="row">
      
      <div data-ng-repeat="project in projects">

        <div class="col-xs-12 col-sm-6 col-md-4 row-centered">            
            <div class="thumbnail">
                <a ui-sref="{{project.Nav}}">
                  <div class="caption">
                      <h4>{{project.Title}}</h4>
                      <p>{{project.Description}}</p>
                  </div>
                </a>
                <img src="{{project.Thumbnail}}" alt="...">
            </div>
        </div>
    </div>
</div>