<div class="container">
<h1>Peanuts</h1>
<h4>Research to understand how reciprocity and trust can impact microcharitable giving online</h4>
<hr/>
<div class="row">
	<div class="col col-md-4">
        <img src="../images/Peanuts/Icon.png" style="width: 300px;">
	</div>
	<div class="col col-md-8">
		<p><strong>Contributions:</strong> Survey Design and Analysis
		<br/><br/>
		<strong>Team Members:</strong> eff Harris, Jim Martin, Katie Ramp
		<br/><br/>
		<strong>Duration:</strong> November 2014 - December 2014
		<br/><br/>
		<strong>Class:</strong> Social Web, CMU</p>
	</div>
</div>
<hr/>
<div class="row">
	<div class="col col-md-12">
		<h3>Process</h3>
	</div>
</div>
<div class="row">
	<div class="col col-md-12">
		<p><strong>Assignment:</strong> Pick any topic related to social web and explore it with design, research, and/or development.
		<br/><br/>	
		<strong>Opportunity:</strong> When people are requesting monetary help online, many requests state that the requestor has helped others in the past or plans to help others in the future as part of the description. People are giving frequently seek validation of who the requestor is and whether they are an active member of the group they are requesting in and whether they have given money in the past. However, there is no good way for requestors to prove their previous donations or for those planning to give to see that activity.
		<br/><br/>
		<strong>Solution:</strong> We wanted to build a website that would give requestors the ability to track their reciprocity. We also wanted potential donors to be able see the reciprocity of requestors. We predicted that showing reciprocity would allow donors to quickly trust requestors which would help them make quicker decisions about donating. We wanted to test the ways that reciprocity can be shown and how that impacts donors.</p>
	</div>
</div>
<hr/>
<div class="row">
	<div class="col col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
		    	<h3 class="panel-title">Literature Review and Initial Research</h3>
			</div>
			<div class="panel-body">
		    	We began by reading research papers on altruism, motivation, and microvoluntering. One of the papers that we read was in indepth look at the aspects of a request on the subreddit r/RAOP to determine the most effective way to write a request. From there, we noticed that there were other subreddits where people made requests for help. We analysed their requests and how potential donors responded to see common themes. After reviewing this subreddit as well as other request websites, we decided to look at how showing reciprocity impacts people’s donations.
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
		    	<h3 class="panel-title">Literature Review and Initial Research</h3>
			</div>
			<div class="panel-body">
		    	We began by reading research papers on altruism, motivation, and microvoluntering. One of the papers that we read was in indepth look at the aspects of a request on the subreddit r/RAOP to determine the most effective way to write a request. From there, we noticed that there were other subreddits where people made requests for help. We analysed their requests and how potential donors responded to see common themes. After reviewing this subreddit as well as other request websites, we decided to look at how showing reciprocity impacts people’s donations.
		    	<br/><br/>
		    	<div class="row">
					<div class="col col-md-4 col-md-offset-2">
						<div class="thumbnail"><img src="../images/Peanuts/survey1example.jpg">
    					</div>
					</div>
					<div class="col col-md-4">
						<table class="table">
							<tr>
								<th>Reciprocity Statement</th>
								<th>Votes</th>
							</tr>
							<tr>
								<td>Jonathan helped Susan pay her rent last week.</td>
								<td>18</td>
							</tr>
							<tr>
								<td>Jonathan has given to 100 people and has received donations from 50 people.</td>
								<td>12</td>
							</tr>
							<tr>
								<td>Jonathan has given more than he has received since joining.</td>
								<td>11</td>
							</tr>
							<tr>
								<td>Jonathan has given to about 15 causes in the past.</td>
								<td>11</td>
							</tr>
							<tr>
								<td>Jonathan has given about twice as much as he has received.</td>
								<td>9</td>
							</tr>
							<tr>
								<td>Jonathan gives to causes almost every week.</td>
								<td>8</td>
							</tr>
							<tr>
								<td>Jonathan has given 150% as much as he has received.</td>
								<td>8</td>
							</tr>
							<tr>
								<td>Jonathan has given $60 and received $40.</td>
								<td>6</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
		    	<h3 class="panel-title">Final Survey</h3>
			</div>
			<div class="panel-body">
		    	After analyzing the results of the first survey and the interview responses, we decided to use the two of the top four statements to test with visuals.  We also wanted to test whether people were more likely to give to people that had given more than they had received or to people that had received more than they had given. We created a survey to test this and got 276 responses on Mechanical Turk.  We randomly showed one each Turk worker the request and then a visualization of reciprocity. We then asked how much they would donate. We also recorded the amount of time it took them to answer. The only statistically significant result that we found was that those who donated spent longer thinking about their decision and as time increases, dollar amount increased as well.
		    	<br/><br/>
		    	<div class="row">
					<div class="col col-md-3">
						<div class="thumbnail"><img src="../images/Peanuts/Card_general_less.jpg">
    					</div>
					</div>
					<div class="col col-md-3">
						<div class="thumbnail"><img src="../images/Peanuts/Card_general_more.jpg">
    					</div>
					</div>
					<div class="col col-md-3">
						<div class="thumbnail"><img src="../images/Peanuts/Card_back_received_more.jpg">
    					</div>
					</div>
					<div class="col col-md-3">
						<div class="thumbnail"><img src="../images/Peanuts/Card_back_given_more.jpg">
    					</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
</div>