<link href="../Content/wakeup.css" rel="stylesheet" />

<!--Header-->
<div class="container">
<h1>Wake Up</h1>
<h4>Development of an Android application that gives the weather and bus information when an alarm goes off.</h4>
<hr/>

<!--Meta Data-->
<div class="row">
	<div class="col col-md-4">
        <img src="../images/WakeUp/icon.jpg" style="width: 300px;">
	</div>
	<div class="col col-md-8">
		<p><span class="category">Project Type:</span> Development
		<br/><br/>
		<span class="category">Contributions:</span> Design, Android Development
		<br/><br/>
		<span class="category">Tools and Technologies:</span> Eclipse, Java, Android SDK, Adobe Photoshop
		<br/><br/>
		<span class="category">Duration:</span> November 2014 - December 2014 (3 weeks)
		<br/><br/>
		<span class="category">Class:</span> Software Structures for User Interfaces, Mobile Lab, CMU</p>
	</div>
</div>
<hr/>

<!--About the project-->
<div class="row">
	<div class="col col-md-12">
		<p><span class="category">Assignment:</span> Design and develop a mobile application to demonstrate Android development.
		<br/><br/>	
		<span class="category">Opportunity:</span> When my alarm goes off in the morning, the first thing I do is check the weather and the bus information to determine how long I have to get ready and what I need to wear for the day. 
		<br/><br/>
		<span class="category">Solution:</span> I decided to build an application that is a dedicated morning alarm clock. This alarm clock allows you to set your preferred city, bus route, and bus stop. When the alarm goes off, this information is displayed to the user.</p>
	</div>
</div>
<hr/>

<!--Final Designs-->
<div class="row">
	<div class="col col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
		    	<h3 class="panel-title">Final Design</h3>
			</div>
			<div class="panel-body">
		    	<div class="row">
					<div class="col col-md-3">
						<div class="thumbnail"><img src="../images/WakeUp/home_screen.png">
    					</div>
    					<div class="thumbnail_caption_text">Home screen</div>
					</div>
					<div class="col col-md-3">
						<div class="thumbnail"><img src="../images/WakeUp/preferences_screen.png">
    					</div>
    					<div class="thumbnail_caption_text">Preferences screen</div>
					</div>
					<div class="col col-md-3">
						<div class="thumbnail"><img src="../images/WakeUp/set_alarm_screen.png">
    					</div>
    					<div class="thumbnail_caption_text">Set Alarm screen</div>
					</div>

					<div class="col col-md-3">
						<div class="thumbnail"><img src="../images/WakeUp/alarm_screen.png">
    					</div>
    					<div class="thumbnail_caption_text">Screen that appears when the alarm clock goes off</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--Final Code-->
<div class="row">
	<div class="col col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
		    	<h3 class="panel-title">Final Code</h3>
			</div>
			<div class="panel-body">
		    	GitHub: <a href="https://github.com/kaitlynesparks/WakeUp">https://github.com/kaitlynesparks/WakeUp</a>
			</div>
		</div>
	</div>
</div>


</div>