<!doctype html>
<html>
	<link href="../Content/projectPage.css" rel="stylesheet" />
	<link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>

	<!--Header-->
	<div class="container">
		
		<div class="headline">
			<div class="row">
				<div class="col col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2">
					<h1 class="headline">WakeUp</h1>
					<h4 class="headling">Development of an Android Application</h4>
					<p class="headline">November 2014 - December 2014</p>
				</div>
			</div>		
		</div>		
		<hr/>

		<!--Meta Data-->
		<div class="row">
			<div class="col col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2">
				<p>The final project for my Software Structures for User Interfaces Mobile development lab was to create an Android application of our choice. I looked to my own life for inspiration. When my alarm goes off in the morning, the first thing I do is check the weather and the bus information to determine how long I have to get ready and what I need to wear for the day. I decided to build an application that is a dedicated morning alarm clock. This alarm clock allows you to set your preferred city, bus route, and bus stop. When the alarm goes off, this information is displayed to the user.</p>
			</div>
		</div>
		<div class="row">
			<div class="col col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2">
				<img src="../images/WakeUp/wakeup-icon-long.png" class="img-responsive" alt="Responsive image">
			</div>
		</div> <!-- end icon image -->

		<div class="row meta-data">
			<div class="meta-data-point col col-xs-12 col-sm-3 col-md-3 col-lg-2 col-lg-offset-2">
				<h4 class="meta-header">Process</h4>
				<ul>
					<li>Design</li>
					<li>Development</li>
				</ul>	
			</div>
			<div class="meta-data-point col col-xs-12 col-sm-3 col-md-3 col-lg-2">
				<h4 class="meta-header">Contributions</h4>
				<ul>
					<li>Application Design</li>
					<li>Android Development</li>
				</ul>	
			</div>
			<div class="meta-data-point col col-xs-12 col-sm-3 col-md-3 col-lg-2">
				<h4 class="meta-header">Technologies</h4>
				<ul>
					<li>Eclipse</li>
					<li>Java</li>
					<li>Android SDK</li>
					<li>Adobe Photoshop</li>
				</ul>	
			</div>
			<div class="meta-data-point col col-xs-12 col-sm-3 col-md-3 col-lg-2">
				<h4 class="meta-header">Deliverables</h4>
				<ul>
					<li><a href="https://github.com/kaitlynesparks/WakeUp" target="_blank">Application Code</a></li>
				</ul>	
			</div>
		</div> <!-- end Meta-data -->


		<!--About the project-->

		<!--Final Designs-->
		<div class="row">
			<div class="col col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2">
				<h3 class="phase-header">Final Designs</h3>
			</div>
		</div>
		<div class="row">
			<div class="col col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2">
				<img src="../images/WakeUp/Final-Screens.png" class="img-responsive" alt="Responsive image">
				<p class="caption">The final design consisted of 4 screens: Home Screen, Preferences Scrren, Set Alarm Screen, and Alarm Alert Screen.</p>
			</div>
		</div>
	</div>
</html>