<link href="../Content/personalWebsite.css" rel="stylesheet" />

<!--Header-->
<div class="container">
<h1>Personal Website</h1>
<h4>Design a personal website for mobile and desktop.</h4>
<hr/>

<!--Meta Data -->
<div class="row">
	<div class="col col-md-4">
        <img src="../images/PersonalWebsite/icon.png" style="width: 300px;">
	</div>
	<div class="col col-md-8">
		<p><span class="category">Project Type:</span> Design
		<br/><br/>
		<span class="category">Contributions:</span> Sketch Wireframes, Digital Sketches, Low Fidelity Mockups, High Fidelity Mockups
		<br/><br/>
		<span class="category">Duration:</span> August 2014 - September 2014 (2.5 weeks)
		<br/><br/>
		<span class="category">Class:</span> Interaction Design Fundamentals, CMU</p>
	</div>
</div>
<hr/>

<!--About the Project-->
<div class="row">
	<div class="col col-md-12">
		<p><span class="category">Assignment:</span> Design a personal website home page for desktop and mobile platforms. 
		<br/><br/>	
		<span class="category">Design Overview:</span> The focus of this design was to create a webpage and a mobile page with a cohesive look and feel across the two mediums. First, I focused on finding appropriate content for a professional, personal webpage. I chose to keep the design very simple so that all of the important elements were easy to find and consume. Additionally, to create consistency, I paid attention making the information heirarchy the same across the two screens.</p>
	</div>
</div>
<hr/>

<!--Process Header-->
<div class="row process">
	<div class="col col-md-12">
		<h3><span class="category">Process</span></h3>
	</div>
</div>

<!--Sketch Wireframes-->
<div class="row">
	<div class="col col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
		    	<h3 class="panel-title">Sketch Wireframes</h3>
			</div>
			<div class="panel-body">
		    	The first step was to determine the content that was needed for this type of website and make sketch wireframes. While making these sketches, I focused on making the heirarchy consistent across the mobile and desktop versions of the website. I also concentrated on making the most important aspects of the website higher in the heirarchy. I decided that if someone was visiting a page like this, they would want to know who it was about, their title, and how to contact them; so I made that information easy to find at a glance. I also wanted it to be easy to look through examples of work and see a summary about the person, so I included that information on the home screen in the forms of a carousel showing work and a brief summary paragraph. I created 5 sketches of possible layouts and then picked the aspects I liked from each one to create a final sketch and use in future iterations.
		    	<br/><br/>
		    	<div class="row">
					<div class="col col-md-4">
						<img src="../images/PersonalWebsite/website_sketch1.jpg" class="img-responsive" >
						<div class="caption_text">	
						Sketch 1 for website. I originally included a picture of the person in these sketches but later decided it was not essential enough to be on the homepage and would fit better on the About page.
						</div>
					</div>
					<div class="col col-md-4">
						<img src="../images/PersonalWebsite/website_sketch2.jpg" class="img-responsive" >
						<div class="caption_text">	
						Sketch 2 for website which is an iteration on sketch 1. On the mobile site, I moved the navigation to the side but did not move forward with this decision because mobile device screens are generally not wide enough to be able to interact with two columns.
						</div>
					</div>
					<div class="col col-md-4">
						<img src="../images/PersonalWebsite/website_sketch3.jpg" class="img-responsive" >
						<div class="caption_text">	
						Sketch 3 for website. In this sketch, I moved the navigation to the side on both the mobile and desktop to keep it consistent. But as with sketch 2, I did not use this moving forward because two columns is difficult for users on a mobile device.
						</div>
					</div>
				</div>
				<br/><br/>
				<div class="row">
					<div class="col col-md-4">
						<img src="../images/PersonalWebsite/website_sketch4.jpg" class="img-responsive" >
						<div class="caption_text">	
						Sketch 4 for website which is an interation on sketch 3. For this iteration, I moved the name to the left on the webpage. I ended up using this in the future because I found this design to be more common on websites, whereas the centered name felt more like a printed report.
						</div>
					</div>
					<div class="col col-md-4">
						<img src="../images/PersonalWebsite/website_sketch5.jpg" class="img-responsive">
						<div class="caption_text">	
						Sketch 5 for website which is an interation on sketches 3 and 4. In this iteration, I intended to put the contact information at the top so it was easily accessible. Later, I moved it to the bottom because it is frequently found there on webpages and it was still easy to spot on the bottom
						</div>
					</div>
					<div class="col col-md-4">
						<img src="../images/PersonalWebsite/website_sketch_final.jpg" class="img-responsive">
						<div class="caption_text">	
						The final sketch took elements from the original 5 sketches and put them together.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--Digital Sketches and Low Fidelity Mockups-->
<div class="row">
	<div class="col col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
		    	<h3 class="panel-title">Digital Sketches and Low Fidelity Mockups</h3>
			</div>
			<div class="panel-body">
		    	After getting feedback from the class on the sketches, I moved to a digital sketch that was exactly the same as the final paper sketch. After getting my idea into a digital version and seeing it at a more realistic size and ratio, I was able to iterate to a low fidelity black and white mockup.
		    	<br/><br/>
		    	<div class="row">
					<div class="col col-md-6">
						<div class="thumbnail"><img src="../images/PersonalWebsite/digital_sketch.png">
    					</div>
    					<div class="thumbnail_caption_text">When moving to digital mockups, my first step was to translate my last paper sketch to an identical digital sketch.</div>
					</div>
					<div class="col col-md-6">
						<div class="thumbnail"><img src="../images/PersonalWebsite/low_fidelity_mockup.png">
    					</div>
    					<div class="thumbnail_caption_text">I created a black and white mock up first because I wanted to focus on content and heirarchy before working with colors and visual design.</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--High Fidelity Mockups-->
<div class="row">
	<div class="col col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
		    	<h3 class="panel-title">High Fidelity Mockups</h3>
			</div>
			<div class="panel-body">
		    	The next step I took was to convert the black and white mock up into a color mock up. I played with a few color schemes based on the low fidelity mock up. However, once I added color, I realized it felt very heavy. So I removed a lot of the color in favor of a very simple final design. For this type of website, I felt that the content needed to be more prominent than colors or dominating design elements.
		    	<br/><br/>
		    	<div class="row">
					<div class="col col-md-8 col-md-offset-2">
						<div class="thumbnail"><img src="../images/PersonalWebsite/high_fidelity_mockup.png">
    					</div>
    					<div class="thumbnail_caption_text">I converted my black and white sketch into a color mockup and iterated on how different color schemes.</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--Final Design-->
<div class="row">
	<div class="col col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
		    	<h3 class="panel-title">Final Design</h3>
			</div>
			<div class="panel-body">
		    	At the end, I took all of the feedback I had gotten from classmates and the pieces of each iteration that I thought worked best and compiled it into a final high-fidelity mockup.
		    	<br/><br/>
		    	<div class="row">
					<div class="col col-md-8 col-md-offset-2">
						<div class="thumbnail"><img src="../images/PersonalWebsite/final_design.png">
    					</div>
    					<div class="thumbnail_caption_text">My final deliverable was a full scale design for a desktop and mobile site.</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

</div>