<div class="container">
<h1>Personal Website</h1>
<h4>Design a personal website for mobile and desktop.</h4>
<hr/>

<div class="row">
	<div class="col col-md-4">
        <img src="../images/PersonalWebsite/icon.png" style="width: 300px;">
	</div>
	<div class="col col-md-8">
		<p><strong>Contributions:</strong> sketch wireframes, digital sketches, low fidelity mockup, high fidelity mockup
		<br/><br/>
		<strong>Tools Used:</strong> Adobe InDesign
		<br/><br/>
		<strong>Duration:</strong> August 2014 - September 2014 (2.5 weeks)
		<br/><br/>
		<strong>Class:</strong> Interaction Design Fundamentals, CMU</p>
	</div>
</div>
<hr/>
<div class="row">
	<div class="col col-md-12">
		<p><strong>Assignment:</strong> Design a personal website home page for desktop and mobile platforms. 
		<br/><br/>	
		<strong>Design Overview:</strong> The focus of this design was to create a webpage and a mobile page with a cohesive look and feel across the two mediums. First, I focused on finding appropriate content for a professional, personal webpage. I chose to keep the design very simple so that all of the important elements were easy to find and consume. Additionally, to create consistency, I paid attention creating the information heirachy the same across the two screens.</p>
	</div>
</div>
<hr/>
<div class="row">
	<div class="col col-md-12">
		<h3>Process</h3>
	</div>
</div>
<div class="row">
	<div class="col col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
		    	<h3 class="panel-title">Sketch Wireframes</h3>
			</div>
			<div class="panel-body">
		    	The first step was to determine what types of content were needed for this type of website and make sketch wireframes. While making these sketches, I focused on making the heirarchy consistent across the mobile and desktop versions of the website. I also concentrated on making the most important aspects of the website higher in the heirarchy.  I wanted it to be clearly apparent the person the website is about, the essential information about them, and how to contact them. I also wanted it to be easy to look through examples of work and see a summary about the person. I created 5 sketches of possible layouts and then picked the best ones to create a final sketch and use in furture iterations.
		    	<div class="row">
					<div class="col col-md-4">
						<div class="thumbnail"><img src="../images/PersonalWebsite/webpage_sketch1.jpg">
    					</div>
					</div>
					<div class="col col-md-4">
						<div class="thumbnail"><img src="../images/PersonalWebsite/webpage_sketch2.jpg">
    					</div>
					</div>
					<div class="col col-md-4">
						<div class="thumbnail"><img src="../images/PersonalWebsite/webpage_sketch3.jpg">
    					</div>
					</div>
				</div>
				<div class="row">
					<div class="col col-md-4">
						<div class="thumbnail"><img src="../images/PersonalWebsite/webpage_sketch4.jpg">
    					</div>
					</div>
					<div class="col col-md-4">
						<div class="thumbnail"><img src="../images/PersonalWebsite/webpage_sketch5.jpg">
    					</div>
					</div>
					<div class="col col-md-4">
						<div class="thumbnail"><img src="../images/PersonalWebsite/webpage_sketch_final.jpg">
    					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
		    	<h3 class="panel-title">Digital Sketch and Low Fidelity Mock Up</h3>
			</div>
			<div class="panel-body">
		    	After getting feedback from the class on the sketches, I moved to a digital sketch that was exactly the same as the final sketch.  After getting my idea into a digital version and seeing it at a more realistic size and ratio, I was able to iterate to a low fidelity black and white mock up.
		    	<div class="row">
					<div class="col col-md-6">
						<div class="thumbnail"><img src="../images/PersonalWebsite/digital_sketch.png">
    					</div>
					</div>
					<div class="col col-md-6">
						<div class="thumbnail"><img src="../images/PersonalWebsite/low_fidelity_mockup.png">
    					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
		    	<h3 class="panel-title">High Fidelity Mock Ups</h3>
			</div>
			<div class="panel-body">
		    	The next step I took was to convert the black and white mock up into a color mock up. I played with a few color schemes based on the low fidelity mock up.  However, once I added color, I realized it felt very heavy.  So I removed a lot of the color in favor of a very simple final design.
		    	<div class="row">
					<div class="col col-md-8 col-md-offset-2">
						<div class="thumbnail"><img src="../images/PersonalWebsite/high_fidelity_mockup.png">
    					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
		    	<h3 class="panel-title">Final Design</h3>
			</div>
			<div class="panel-body">
		    	The next step I took was to convert the black and white mock up into a color mock up. I played with a few color schemes based on the low fidelity mock up.  However, once I added color, I realized it felt very heavy.  So I removed a lot of the color in favor of a very simple final design. 
		    	<div class="row">
					<div class="col col-md-8 col-md-offset-2">
						<div class="thumbnail"><img src="../images/PersonalWebsite/final_design.png">
    					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

</div>