<!doctype html>
<html>
    <link href="../Content/footer.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
    <br/>
    <div id="footer">
        <div class="container">
            <!--<div class="row row-centered">-->
                <div class="row">
                <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2">
                    <div id="contact">
                        <p>Email: kaitlynesparks@gmail.com</p>
                        <p>Tel: (912) 585 - 2036 </p>
                    </div>   
                        <!--<a ui-sref="home" style="font-weight: bold">Home</a>&emsp;

                        <a ui-sref="about" style="font-weight: bold">About</a>&emsp;
                        
                        <a ui-sref="contact" style="font-weight: bold">Contact Me</a>
                        <br>
                       <!-- <span style="font-size: 10px; color: black; font-family: sans-serif; " dir="ltr">Powered By;</span>
                        <a href="https://angularjs.org/" style="font-size: 13px">AngularJS</a>
                        <span style="font-size: 10px; color: black; font-family: sans-serif; " dir="ltr">
                        and </a>
                        <a href="http://getbootstrap.com/" style="font-size: 13px">Boostrap</a> -->

                </div>
            </div>
        </div>
    </div>
</html>    