<!doctype html>
<html>
    <link href="../Content/footer.css" rel="stylesheet" >
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,900' rel='stylesheet' type='text/css'>

    <div id="footer">
        <div id="footer-element">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div id="AboutMe">
                            <h2>About Me</h2>
                            <p>I am a UX researcher and designer currently at Carnegie Mellon University pursuing my Masters of HCI. I have a unique background with undergraduate degrees in Psychology and Computer Science. I also have professional experience working as a software developer and a program manager.</p>
                        </div>
                    </div>
                    <div class="col col-xs-12 col-sm-12 col-md-4 col-lg-4 col-md-offset-2 col-lg-offset-2">
                        <div id="Contact">
                            <h2>Contact</h2>
                            <p>Email: kaitlynesparks@gmail.com</p>
                            <p>LinkedIn: <a href="https://www.linkedin.com/in/kaitlynsparks"> https://www.linkedin.com/in/kaitlynsparks</a></p>
                            <div class="row">
                                <div class="col row-centered ">
                                    <a href="https://www.linkedin.com/in/kaitlynsparks"><i id="social" class="fa fa-linkedin-square fa-3x social-li"></i></a>
                                    <a href="mailto:kaitlynesparks@gmail.com"><i id="social" class="fa fa-envelope-square fa-3x social-em"></i></a>
                                </div>
                            </div>   

                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>
</html>  
                    <!--<div id="contact">
                        <p>Email: kaitlynesparks@gmail.com</p>
                        <p>Tel: (912) 585 - 2036 </p>
                    </div> -->  
                        <!--<a ui-sref="home" style="font-weight: bold">Home</a>&emsp;

                        <a ui-sref="about" style="font-weight: bold">About</a>&emsp;
                        
                        <a ui-sref="contact" style="font-weight: bold">Contact Me</a>
                        <br>
                       <!-- <span style="font-size: 10px; color: black; font-family: sans-serif; " dir="ltr">Powered By;</span>
                        <a href="https://angularjs.org/" style="font-size: 13px">AngularJS</a>
                        <span style="font-size: 10px; color: black; font-family: sans-serif; " dir="ltr">
                        and </a>
                        <a href="http://getbootstrap.com/" style="font-size: 13px">Boostrap</a> -->   
  