<br/>
<div id="footer">
    <div class="container">
        <div class="row row-centered">
            <div class="col-md-12">
                <p style="margin-top: 15px">
                    <a ui-sref="home" style="font-weight: bold">Home</a>&emsp;

                    <a ui-sref="about" style="font-weight: bold">About</a>&emsp;
                    
                    <a ui-sref="contact" style="font-weight: bold">Contact Me</a>
                    <br>
                    <span style="font-size: 10px; color: black; font-family: sans-serif; " dir="ltr">Powered By;</span>
                    <a href="https://angularjs.org/" style="font-size: 13px">AngularJS</a>
                    <span style="font-size: 10px; color: black; font-family: sans-serif; " dir="ltr">
                    and </a>
                    <a href="http://getbootstrap.com/" style="font-size: 13px">Boostrap</a>
                </p>
            </div>
        </div>
    </div>
</div>